<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="partials/head.html"></div>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rolled Dice Result</title>
</head>
<body>

<div class="container" style="text-align: center">
    <h1>Here are your results...</h1>
</div>

<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm mt-4">
                <div class="card-body">
                    <h2>The number rolled was: <span th:text="${random}"></span></h2>
                    <h2>You guessed: <span th:text="${userGuess}"></span></h2>
                    <h2 th:text="${message}"></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/partials/footer.html"></div>

</body>
</html>